* {
    background-color: chocolate;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

img {
    border-radius: 20px;
    border-style: dotted;
}

body {
    max-width: fit-content;
    margin: auto;
}