* {
    background-color: chocolate;
    color: #faebd7;
    font-family: "Courier New", monospace;
}

header {
    text-align: center;
}

nav {
    text-align: center;
}

.headerImg {
    max-width: 648px;
    margin: auto;
    border-radius: unset;
    border-style: none;
}

img {
    border-radius: 20px;
    border-style: dotted;
    max-width: 500px;
}

body {
    max-width: 648px;
    margin: auto;
    font-size: 20px;
}

ul {
    list-style: circle;
}

a {
    text-decoration: line-through;
}

a:hover {
    text-decoration: none;
}

footer {
text-align: center;
margin: 50px;
}