* {
    color: #faebd7;
    font-family: "Courier New", monospace;
}

div {
    background-color: rgba(128, 55, 0, 0.45);
    border-radius: 15px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 10px;
}

header {
    text-align: center;
}

nav {
    text-align: center;
}

.headerImg {
    max-width: 648px;
    margin: auto;
    border-radius: unset;
    border-style: none;
}

img {
    border-radius: 20px;
    border-style: dotted;
    max-width: 500px;
}

body {
    max-width: 648px;
    margin: auto;
    font-size: 20px;
    background-color: chocolate;
}

ul {
    list-style: circle;
}

a {
    text-decoration: line-through;
}

a:hover {
    text-decoration: none;
}

footer {
text-align: center;
margin: 50px;
}